# Database
# config/database.php
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=app
DB_USERNAME=laravel
DB_PASSWORD=secret

# Docker
# COMPOSE_PROJECT_NAME=laravel-1
BACKEND_HTTP_PORT=8000
PHPMYADMIN_PORT=8080
# MYSQL_FORWARD_PORT=3306
DB_ROOT_PASSWORD=secret
APP_UID=1000
APP_GID=1000
