# Environment files
.env
.env.backup
.env.production
auth.json
Homestead.yaml
Homestead.json

# Vendor / dependencies
/vendor
/composer/
.composer/

# Laravel storage and cache
/storage/*.key
/storage/pail
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/public/storage

# Build artifacts
/public/build
/public/hot
/public/docs
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# Testing / cache
.phpunit.result.cache
/.phpunit.cache

# Editor / IDE
/.idea
/.vscode
.phpactor.json
.scribe/

# System / logs
*.log
.DS_Store
Thumbs.db
.bash_history

# Custom
.hashes/
