# Environment files
.env
.env.backup
.env.production
auth.json
Homestead.yaml
Homestead.json

# Vendor / dependencies
/vendor
/composer/
.composer-hash

# Laravel storage and cache
/storage/*.key
/storage/pail
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/public/storage

# Build artifacts
/public/build
/public/hot
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# Testing / cache
.phpunit.result.cache
/.phpunit.cache

# Editor / IDE
/.idea
/.vscode
.phpactor.json
.scribe/
.scribe-hash

# System / logs
*.log
.DS_Store
Thumbs.db
.bash_history
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

.composer-hash
.scribe-hash
